:root {
    /* Colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;
    --accent-color: #1DB954; /* Spotify green */
    --background-dark: #121212;
    --player-background: #1C1C1C;
    --foreground-dark: #282828;
    --border-dark: #333333;
    --text-muted: #B3B3B3;
    --highlight-color: #1DB954;
  --root-font-size: 16px;
    font-size: var(--root-font-size);
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}


body{background:var(--background-dark);
color:var(--primary-color);
font-family:var(--font-family);
margin:0;
padding:0;}

ul{margin:0;
list-style:none;}

h1{font-size:0.63rem;
line-height:1.6;
text-align:center;}

h2{font-size:var(--root-font-size);}

.container{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    row-gap:5px;
}

.player,
.playlist{width:450px;
background-color:var(--player-background);
border:3px solid var(--border-dark);
border-radius:6px;}

.player{
    height:260px;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    row-gap:10px;
}

.player-bar,
.playlist-bar{
    display:flex;
    background: var(--foreground-dark);
    border-radius:4px;
    width:100%;
    height:30px;
    justify-content: space-between;
    align-items:center;
    padding:0 5px;
}

.parallel-lines{
    display:flex;
    flex-wrap:wrap;
    row-gap:6px;
    padding:0 5px;
}

.parallel-lines > div {
    height:2px;
    width:100%;
    min-width:75px;
    background-color:var(--accent-color);
}

.fcc-title,
.playlist-title{
    color:var(--secondary-color);
    margin:0 10px;
    font-family:var(--font-headline);
}

.player-content{
    display:flex;
    background:var(--foreground-dark);
    width:430px;
    height:200px;
    column-gap:13px;
    align-items:center;
    justify-content: center;
}

#player-album-art{
    background-color:var(--secondary-color);
    border:6px solid var(--accent-color);
    box-shadow: 0 0 10px var(--accent-color);
    border-radius:8px;
}

#player-album-art img{
    width:220px;
    display:block;
    border-radius:4px;
}

.player-display{display:flex;
flex-direction: column;
row-gap:20px;
padding:14px;
background: var(--player-background);
height:153px;
width:226px;
border-radius:6px;}

.player-display-song-artist{
    height:80px;
}

.player-buttons{
    display:flex;
    justify-content: space-around;
}
.player-buttons svg{
 fill:var(--accent-color);
}

.playing > svg{
    fill:var(--highlight-color);
}

button{background:transparent;
border:none;
color:var(--primary-color);
cursor:pointer;
font-size:var(--root-font-size);
outline-color:var(--accent-color);
text-align:center;}

button:focus,
.playlist-song:focus{
    outline-style:dashed;
    outline-width:2px;
}

.playlist{
    height:auto;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    row-gap:10px;
}

#playlist-songs{
    width:430px;
    height:100%;
    background:var(--player-background);
    display:flex;
    flex-direction:column;
    row-gap:8px;
    padding:8px 9px;
    justify-content:start;
    visibility:visible;
}

.playlist-song{
    display:flex;
    height:55px;
    justify-content: space-between;
    align-items:center;
    padding:5px;
    border-bottom:1px solid var(--foreground-dark);
}

[aria-current="true"]{
    background-color:black;
}

[aria-current="true"] p {
    color:var(--accent-color);
}

.playlist-song-info{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    column-gap:7px;
    padding:5px 0;
    font-family:var(--font-family);
    height:100%;
}

#player-song-title{
    font-size:1.125rem;
    margin:0;
}

#player-song-artist{
    color:var(--text-muted);
    margin:0;
}

.playlist-song-title{
    font-size:0.85rem;
    width:241px;
    text-align:left;
}

.playlist-song-artist{
    font-size:0.725rem;
    width:80px;
}

.playlist-song-duration{
    font-size:0.725rem;
    width:40px;
    margin:auto;
    font-family: var(--font-headline);
}

.playlist-song-delete{
    padding:0;
    width:20px;
    height:20px;
    fill:black;
}

.player-song-delete:hover circle,
.player-song-delete:focus circle{
    fill:#ff0000;
}


@media(max-width:700px){
    .player,
    .playlist{
        width:300px;
    }
    .player{
        height:340px;
    }

    #playlist-songs{
        height:280px;
        padding:5px 6px;
        overflow-y:hidden;
        overflow-x:hidden;
        scrollbar-color:black var(--secondary-color);
        scrollbar-width:thin;
    }

    #playlist-songs::-webkit-scrollbar{
        width:5px;
    }

    #playlist songs::-webkit-scrollbar-track{
        background:black;
    }
    #playlist-songs::-webkit-scrollbar-thumb{
        background:var(--secondary-color);
    }

    h1{font-size:0.4rem;}

    h2{font-size:0.7rem;}

    .player-bar,
    .playlist-bar,
    .player-content,
    #playlist-songs{
        width:280px;
    }
    
    .playlist-song-title{
        width:140px;
    }

    .player-content{
        display:inline;
        position:relative;
        height:100%;
    }

    #player-album-art{
        z-index:-100;
        height:280px;
        box-shadow:none;
        background:#000;
    }

    #player-album-art img{
        width:100%;
        opacity:0.6;
    }
    .player-display-song-artist{
        padding:0 10px;
    }

    .player-display-song-artist > p{
        white-space: pre-wrap;
    }
    .player-display{
        position:absolute;
        width:100%;
        z-index:1000;
        background-color:transparent;
        top:0;
        height:280px;
        justify-content: space-between;
        text-align:center;
    }
}
